<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ericmschmidt.greekreader">

    <uses-sdk
        xmlns:tools="http://schemas.android.com/tools"
        tools:overrideLibrary="android.support.v14.preference" />

    <application
        android:name="com.ericmschmidt.latinreader.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.ericmschmidt.latinreader.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.ericmschmidt.latinreader.activities.SearchActivity" />
        </activity>
        <activity
            android:name="com.ericmschmidt.latinreader.activities.ErrorActivity"
            android:label="@string/error_activity" />
    </application>

</manifest>
