.reading section[role=main] {
    margin-left: 120px;
    margin-right: 120px;
}

#bookList {
    width: inherit;
    height: inherit;
}

@media (max-width: 700px) {
    #bookList {
        width: 500px;
    }
    .listItem {
        width: 200px;
        font-size: 0.8em;
    }
        .listItem h2 {
            font-size: 1.4em;
        }
    .listTemplate {
         width: 200px;
    }
}

