/*
    Learn Latin for Windows Phone
    Version 1.1
    Eric Schmidt
    2014-07-10

    Rev: 2014-12-14
*/
body {
    background-color: white;
    color: black;
    font-size: 17px;
}

h2, h3 {
    color:black;

}
/* Overwrite ui-theme-dark.css*/
.win-pivot-header {
    color: #A347A4;
}

h1 {
   color: #A347A4; 
}

.win-itembox {
    background-color: white !important;
}

.win-appbar {
    background-color: gray;
    color: white;
}

.page-header {
    background-color: #A347A4;
}

.page-header .titlearea {
	margin-left: 24px;
	font-size: 20pt;
	width: calc(100vw - 20px);
    color: white;
    height: 45px;
}

input {
    color: black !important;
    background-color: white !important;
    border-bottom-color: black !important;
    border-left-color: black !important;
    border-right-color: black !important;
    border-top-color: black !important;
}
