.readingView section[role=main] {
    margin-left: 120px;
    margin-right: 120px;
    display: -ms-grid;
    -ms-grid-columns: 3fr 20px 1fr 240px;
    -ms-grid-rows: 1fr 20px 50px;
    font-size: 1.5em;
}

#bookText {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    -ms-user-select: element;
    overflow: auto;
}

#resources {
    font-size: 0.7em;
    -ms-grid-column: 3;
    -ms-grid-row: 1;
    font-family: 'Segoe Print';
    color: darkgray;
}

#bookInfo {
    -ms-grid-column: 1;
    -ms-grid-row: 3;
}

#page {
    -ms-grid-column: 3;
    -ms-grid-row: 3;
}

@media (max-width: 700px) {
    .readingView {
        font-size: 0.7em;
    }
    #bookInfo {
        font-size: 0.7em;
    }
    #page {
        font-size: 0.7em;
    }
}
