.about section {
	margin: auto 120px;
}

.about .page-section {
	margin: auto 24px;
}

.about .header .titlearea {
	-ms-grid-column: 1;
	margin-left: 24px;
	font-size: 60px;
    font-weight: 400;
    font-family: 'Segoe';
	width: calc(100vw - 20px);
}

.about {
	-ms-grid-columns: 1fr;
	-ms-grid-rows: 75px 1fr;
	display: -ms-grid;
	height: 100%;
	width: 100%;
}

	.about section[role=main] {
		-ms-grid-row: 2;
		height: 100%;
        overflow: scroll;
	}