/*
    The default styling for the app.
*/
.home {
	-ms-grid-columns: 1fr;
	-ms-grid-rows: 1fr;
	display: -ms-grid;
	height: 100%;
	width: 100%;
}

	.home section[role=main] {
		-ms-grid-row: 1;
		height: 100%;
	}

.hubSectionItem {
    width: 100%;
    height: 100px;

}

input[type=search] {
    width: inherit;
}

.pivotitem {
    height: 100%;
    width: 400px;
}

.win-pivot .win-pivot-surface {
	height: 75vh;
}